.total-test {
  display: flex;
  flex-direction: column;
  padding: 5rem 6rem;
  gap: 5rem;
}
.left-test {
  display: flex;

  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}

.left-test div:nth-child(2) h2 {
  margin-bottom: 2rem;

  color: #000;
  font-family: Montserrat;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.left-test div:nth-child(2) p {
  margin-bottom: 2rem;
  color: #000;
  font-family: Montserrat;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.35rem */
}
.down-test {
  margin-left: 25rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.down-test h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: clamp(2rem, 2vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 3.51563rem */
}
.down-test p {
  color: var(--Grays-Gray, var(--Grays-Gray, #8e8e93));
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.8rem */
}
.sub-div-test {
  float: right;
  display: flex;
  margin-left: 15rem;
}
.sub-div-test img {
  flex: 1;
  object-fit: contain;

  margin-left: 1rem;
}
.profile-detials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.profile-detials h1 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: clamp(1.25rem, 2.5vw, 1.875rem);
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.profile-detials p {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.8rem */
}
.total-profile-detials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  margin: 1rem auto;
}
.Register-btn {
  font-size: clamp(1rem, 2vw, 1.25rem);
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #000; /* Example background */
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Register-btn:hover {
  opacity: 0.7;
}

@media (max-width: 980px) {
  .left-test img {
    width: 40rem;
  }
  .left-test {
    display: flex;
    flex-direction: column;
  }

  .total-test {
    padding: 5rem 3rem;
  }
  .sub-div-test {
    margin-left: 3rem;
  }
  .sub-div-test img {
    width: 5rem;
  }
  .down-test h1 {
    font-size: 2rem;
  }
  .down-test p {
    font-size: 1rem;
  }
  .total-profile-detials {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .left-test div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .total-test {
    gap: 2rem;
  }
  .down-test {
    flex-direction: column;
    text-align: center;
  }

  .total-profile-detials {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
@media (max-width: 480px) {
  .left-test img {
    width: 100%;
  }

  .Register-btn {
    justify-content: center;
  }
  .down-test h1 {
    font-size: 1.5rem;
  }
  .sub-div-test {
    width: 1rem;
  }
}
